<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:batch="http://www.springframework.org/schema/batch"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">


	<bean id="purchaseOrderIdGenerator" class="example.spring.component.PurchaseOrderIdGenerator">
		<constructor-arg name="dataSource" ref="dataSource"/>
	</bean>
	
	<context:property-placeholder location="classpath:application.properties" />

	<!-- JDBC Configuration -->
	<jdbc:embedded-database database-name="HSQL" id="dataSource">
		<jdbc:script location="schema-all.sql"/>
		<jdbc:script location="data-all.sql"/>
		<jdbc:script location="org/springframework/batch/core/schema-drop-hsqldb.sql" />
		<jdbc:script location="org/springframework/batch/core/schema-hsqldb.sql" />
	</jdbc:embedded-database>
	
	<!-- Transaction Manager -->
	<bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- Batch Configuration -->
	
	<bean class="org.springframework.batch.core.configuration.support.MapJobRegistry" id="jobRegistry"/>
	
	<bean class="org.springframework.batch.core.configuration.support.JobRegistryBeanPostProcessor" id="jobRegistryBeanPostProcessor">
		<property name="jobRegistry" ref="jobRegistry"/>
	</bean>
	
	<bean class="org.springframework.batch.core.repository.support.JobRepositoryFactoryBean" id="jobRepository">
		<property name="databaseType" value="HSQL"/>
		<property name="dataSource" ref="dataSource"/>
		<property name="transactionManager" ref="transactionManager"/>
	</bean>
	
	<bean class="org.springframework.batch.core.launch.support.SimpleJobLauncher" id="jobLauncher">
		<property name="jobRepository" ref="jobRepository"/>
	</bean>
	
	<!-- INSERT into DB from CSV file Job -->
	<batch:job id="insertIntoDbFromCSV" job-repository="jobRepository">
		<batch:step id="step1">
			<batch:tasklet transaction-manager="transactionManager">
				<batch:chunk commit-interval="5" reader="csvFileReader" writer="jdbcItemWriter"/>
			</batch:tasklet>
		</batch:step>
		<batch:listeners>
			<batch:listener ref="jobCompletionNotificationListener"/>
		</batch:listeners>
	</batch:job>
	
	<bean id="csvFileReader" class="org.springframework.batch.item.file.FlatFileItemReader">
		<property name="resource" value="classpath:sample-data.csv"/>
		<property name="lineMapper">
			<bean class="org.springframework.batch.item.file.mapping.DefaultLineMapper">
				<property name="lineTokenizer">
					<bean class="org.springframework.batch.item.file.transform.DelimitedLineTokenizer">
						<property name="delimiter" value=","/>
						<property name="names" value="name"/>
					</bean>
				</property>
				
				<property name="fieldSetMapper">
					<bean class="org.springframework.batch.item.file.mapping.BeanWrapperFieldSetMapper">
						<property name="targetType" value="example.spring.domain.PurchaseOrder"/>
					</bean>
				</property>
				
			</bean>
		</property>
	</bean>
	
	<bean id="jdbcItemWriter" class="org.springframework.batch.item.database.JdbcBatchItemWriter">
		<property name="assertUpdates" value="true"/>
		<property name="dataSource" ref="dataSource"/>
		<property name="itemSqlParameterSourceProvider">
			<bean class="org.springframework.batch.item.database.BeanPropertyItemSqlParameterSourceProvider"/>
		</property>
		<property name="sql">
			<value>
				INSERT INTO PURCHASE_ORDER(ORDER_NAME) VALUES(:name)
				<!-- <![CDATA[]]> --> 
			</value>
		</property>
	</bean>
	
	<bean class="example.spring.batch.component.JobCompletionNotificationListener" id="jobCompletionNotificationListener">
		<constructor-arg name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	<bean class="org.springframework.jdbc.core.JdbcTemplate" id="jdbcTemplate">
		<constructor-arg name="dataSource" ref="dataSource"/>
	</bean>
</beans>
